<!doctype html>
<html lang="en" class="mCustomScrollbar">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <title>story</title>  
    <link rel="stylesheet" href="/css/theme-black.css">
    <link rel="icon" type="image/x-icon" href="/image/icon/story.png" />
    <link rel="stylesheet" href="/css/mdBootstrap-scrollbar.css">
    <style>
        #webAddressSet a {
            margin: .5rem;
        }
    </style>
</head>

<body style="overflow: hidden;height: 100%;width: 100%;">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!--提示：本页面内容遇到图片时有两个记录，一个为编辑页面效果测试时的，一个就是在springboot,web project启动时用的-->
    <!-- 主要容器 -->
    <div class="container-fluid scrollbar-deep-purple" style="overflow-y: auto;height: 100%;background-color: black;">
        <!-- <div class="force-overflow"></div> -->
        <!-- 导航栏 -->
        <nav class="navbar navbar-expand-lg bg-dark"
            style="border-bottom-left-radius: 1rem;border-bottom-right-radius: 1rem;border:1px solid brown;border-top: none;">
            <!-- 与本网站主题关系不大的一些事 -->
            <a class="navbar-brand btn btn-outline-danger" id="otherThing" onclick="window.location.href='/developing'"
                data-toggle="tooltip" data-placement="bottom" title="有一些我正在做的事，">
                <!-- <span>其他内容</span> -->
                <!--<img src="../../static/image/icon/left-arrow.png" width="25" alt="left arrow,">-->
                <img src="/image/icon/left-arrow.png" width="25" style="color: brown;" />
                <!--<img src="../../static/image/icon/other.png" width="25" alt="">-->
                <img src="/image/icon/other.png" width="25" />
            </a>
            <!-- 遇到小尺寸的设备时需要的一个菜单按钮 -->
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false" aria-label="Toggle navigation">
                <img src="/image/icon/nine-point.png" width="25">
            </button>

            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <div class="dropdown-divider"></div>
                    <!-- 主软件安卓版本下载 -->
                    <li class="navbar-item">
                        &nbsp;
                        <a href="#" class="navbar-link btn btn-outline-primary">
                            <img src="/image/icon/android.png" width="25">
                            <img src="/image/icon/download-homepage.png" width="25">
                        </a>
                    </li>
                    <div class="dropdown-divider" style="color: black;border-color: black;"></div>
                    <!-- 苹果版本下载 -->
                    <li class="navbar-item" data-toggle="tooltip" data-placement='bottom' title="ios package download.">
                        &nbsp;
                        <a href="#" class="navbar-link btn btn-outline-warning">
                            <img src="/image/icon/iOS-apple.png" width="25">
                            <img src="/image/icon/download-homepage.png" width="25">
                        </a>
                    </li>
                    <div class="dropdown-divider" style="border-color: black;"></div>
                    <li class="navbar-item" data-toggle="tooltip" data-placement="bottom" title="widnows version">
                        &nbsp;
                        <a href="#" class="navbar-link btn btn-outline-info">
                            <!-- <span></span> -->
                            <img src="/image/icon/windows.png" width="25" alt="">
                            <img src="/image/icon/download-homepage.png" width="25" alt="">
                        </a>
                    </li>
                    <div class="dropdown-divider" style="border-color: black;"></div>
                    <li class="navbar-item">
                        &nbsp;
                        <a href="#" class="btn btn-outline-success">
                            <img src="/image/icon/linux.png" alt="" width="25">
                            <img src="/image/icon/download-homepage.png" width="25" alt="">
                        </a>
                    </li>
                </ul>
                <div class="dropdown-divider" style="border-color: black;"></div>
                <form class="form-inline justify-content-center" method="post" action="#">

                    <div class="btn-group" role="group" aria-label="">
                        <a id="user-status-button" href="#" class="btn btn-outline-primary"
                            style="border-right-style: none;">
                            <!-- <span>用户登录状态</span> -->
                            <img src="/image/icon/user.png" width="25" alt="user head image.">
                        </a>
                        <button class="btn btn-outline-primary" disabled>
                            <img src="/image/icon/off-line.png" width="25" height="25" alt="off line signal.">
                        </button>
                    </div>
                </form>
            </div>
        </nav>
        <!-- 底部固定显示网站备案号的导航栏 -->
        <nav class="navbar navbar-expand-lg navbar-dark  fixed-bottom justify-content-center"
            style="border-top-left-radius: 1rem;border-top-right-radius: 1rem;opacity: 1;border: 1px solid aqua;background-color: black;">
            <a href="http://beian.miit.gov.cn" target="_blank" class="navbar-item  " aria-disabled="false"
                style="color: white;" data-toggle="tooltip" data-placement="top" title="本网站备案号，点击查看虚实">
                <!-- 网站备案号，工信部要求 -->
                <span>滇ICP备20005940号-2</span>
            </a>
        </nav>
        <!-- 首页的详细内容部分,控制台 -->
        <div class="container " style="padding-top: 1rem;padding-bottom: 59px;">
            <div class="card" style="background-color: black;border: 1px solid  slategrey;">
                <div class="card-header" style="border-bottom: 1px solid darkblue;">
                    <span style="color: burlywood;">console</span>
                </div>
                <div class="card-body">
                    <!-- &nbsp; -->
                    <div class="form-group">
                        <!-- <label for="">8888</label> -->
                        <textarea class="form-control" disabled name="" id="" rows="18"
                            style="background-color: black;color: white;">nothing here.</textarea>
                    </div>
                </div>
                <div class="card-footer " style="border-top: 1px solid   chartreuse;background-color: #333;">
                    <div class="container">
                        <a href="#" class="btn btn-outline-primary"  style="border: none;">
                            <img src="/image/animal/snake.png" width="25" alt="snake greedy.">
                        </a>
                        <a href="#" class="btn btn-outline-info" style="border: none;" >
                            <img src="/image/icon/tetris.png" width="25" alt="">
                        </a>
                        <a href="#" class="btn btn-outline-warning" style="border: none;" >
                            <img src="/image/icon/look-it-again-and-again.png" width="25" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- 其他常用网址 -->
            <div class="card " style="margin-top: 3rem;background-color: black;border-color: aqua;">
                <div class="card-header" style="border-color: aliceblue;">            
                        <span style="color: saddlebrown;font-weight: bold;">常用网址大全：自备</span>                    
                </div>
                <div class="card-body">
                    <a href="https://www.baidu.com/" target="_blank" class="btn btn-outline-primary">
                        <span>百度一下</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            console.log('page is loaded.');
            $('[data-toggle="tooltip"]').tooltip()

            // 处理用户图标点击，即：区分登录和未登录，并进行相应的跳转
            dealWithUserIconClick()
        })
        function dealWithUserIconClick() {
            $('#user-status-button').click(function () {
                console.log('click user status button');
                $.ajax({
                    url: '/homepage-user-button-doing-with',
                    type: 'post',
                    success: function (data) {
                        console.log('server reply:' + data);
                        if (data == 'offline') {
                            // go log in.
                            window.location.href = '/log-in-page'
                        }
                    },
                    error: function (data) {
                        console.log('request fail,current error condition:' + data);
                    }
                })
            })
        }
    </script>
</body>

</html>